<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- <script src="src/static/jquery.min.js"></script> -->
</head>

<body>
    <div method='POST'>
        <button id="selectFile" class="btn btn-primary">Select File</button>
        <button id="pythonImpl" class="btn btn-primary">Python Implemntation</button>
    </div>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <!-- <div class="flex-container">
        <div method='POST'>
            <button id="selectFile" class="btn btn-primary">Select File</button>
        </div>

        <div>
            <a href="http://0.0.0.0:5000/data" type="button" class="btn btn-primary">Primary</a>
        </div>
    </div> -->

    <!-- <div class="container">
        <div class="searcharea">

        </div>
        <div class="panelscontainer">
            <div class="metrics"></div>
            <div class="svgarea"></div>
            <div class="actions">
               
                <div method='POST'>
                    <button id="selectFile" class="btn btn-primary">Select File</button>
                </div>

                <a href="http://0.0.0.0:5000/data" type="button" class="btn btn-primary">Primary</a>
            </div>
        </div>
    </div> -->

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>


</body>

</html>