<!DOCTYPE html>
<meta charset='utf-8'>
<style>

body {
  font-family: sans-serif, Arial;
  font-size: 12px;
  font-weight: bold;
}
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

path {
  fill-opacity: .1;
  stroke-opacity: 1;
}

</style>
<div id="scaleFactorSettings">
  <p>Scale of the groups: <span id='scaleFactorLabel'>1.2</span></p>
  <input type="range" min="1" max="3" value="1.2" step=".1"
    oninput="scaleFactor = value; d3.select('#scaleFactorLabel').text(scaleFactor); updateGroups()">
</div>
<div id="curveSettings">
  <p>Type of curve: <span id='curveLabel'>curveCatmullRomClosed</span></p>
</div>
<svg width='960' height='600'></svg>
<script src='https://d3js.org/d3.v4.min.js'></script>