
input {
    file {

    path => "/home/hassan/testing_fi/memc_1996-1998_entities_and_meta/memc_1996_entities.jsons"
    start_position => "beginning"
    sincedb_path => "/dev/null"
    }

    file {

    path => "/home/hassan/testing_fi/memc_1996-1998_entities_and_meta/memc_1997_entities.jsons"
    start_position => "beginning"
    sincedb_path => "/dev/null"
    }

    file {

    path => "/home/hassan/testing_fi/memc_1996-1998_entities_and_meta/memc_1998_entities.jsons"
    start_position => "beginning"
    sincedb_path => "/dev/null"
    }
}



filter{


    if [path] == "/home/hassan/testing_fi/memc_1996-1998_entities_and_meta/memc_1996_entities.jsons"{

            json {
                source => "message"
                remove_field => ["message"]
            }
    }



    else if [path] == "/home/hassan/testing_fi/memc_1996-1998_entities_and_meta/memc_1997_entities.jsons"{

            json {
                source => "message"
                remove_field => ["message"]
            }
    }

        else if [path] == "/home/hassan/testing_fi/memc_1996-1998_entities_and_meta/memc_1998_entities.jsons"{

            json {
                source => "message"
                remove_field => ["message"]
            }
    }



}




output {




    if [path] == "/home/hassan/testing_fi/memc_1996-1998_entities_and_meta/memc_1996_entities.jsons"{
        elasticsearch {
            hosts => "localhost:9200"
            index => "1996"
            document_type => "fi_doc_1996"
        }
    }

    else if [path] == "/home/hassan/testing_fi/memc_1996-1998_entities_and_meta/memc_1997_entities.jsons"{
        elasticsearch {
            hosts => "localhost:9200"
            index => "1997"
            document_type => "fi_doc_1997"
        }
    }

    else if [path] == "/home/hassan/testing_fi/memc_1996-1998_entities_and_meta/memc_1998_entities.jsons"{
        elasticsearch {
            hosts => "localhost:9200"
            index => "1998"
            document_type => "fi_doc_1998"
        }
    }

    stdout {}
}
